extends ../templates/default

block content
 div(class = 'row')
   div(class = 'col-xs-2')
   div(class = 'col-xs-8')
        br
        br
        p= 'Bienvenido ' + user
        p= '¡Enorabuena has conseguido resolver el primer ejercicio!'
        p= 'A continuación se especificaran las instrucciones para el segundo y tercer ejercicio de SQLi.'
        p='Ejercicio 2: De igual modo que en el ejercicio que se acaba de resover, se solicita al usuario acceder al sistema mediante una inyeccion sql, teniendo en cuenta que se ha añadido un sencillo filtro.'
        p='PISTA: observar los mensajes del sistema para cada prueba'
        p='Ejercicio 3: Se debera hacer uso de la herramienta sqlmap para realizar ataques SQLi automatizados, con el fin de obtener todos los datos referentes a la base de datos de los usuarios.'
        br
        br
        br
        br
        