extends ../templates/default3

block content
  div(class = 'row')
   div(class = 'col-xs-2')
   div(class = 'col-xs-8')
      br
      br
      p='En este caso, se va a ver un tipo de ataque, que busca aprovecharse de una vulnerabilidad en las rutas de la web, ya que en ocasiones en lugar de restringirse el acceso a una ruta, simplemente se oculta como unica medida de proteccion.'
      p= 'Un modo de explotar esta vulnerabilidad es mediante ataques de fuerza bruta, utilizando rutas por defecto, las más utilizadas o simplemente probando rutas en base a la estructura de la web. Sin embargo, en este caso se va a acceder a rutas privadas previa autenticación y a comprobar si dichas rutas están protegidas.'
      p='Para ello se deben realizar los siguientes pasos e indicar en cada uno de los dos casos de ejemplo que ocurre, porqué y el peligro que ello representa:'
      p='Paso 1: autenticarse en el ejercicio 1 de SQLi'
      p='Paso 2: acceder a las dos páginas disponibles en la barra de navegación superior (Perfil y Gestión de registros) y tomar nota de las rutas correspondientes.'
      p='Paso 3: cerrar sesion e intentar acceder a las rutas anteriormente apuntadas sin estar autenticados.'
      br
      br
      br
      br