extends ../templates/default

block content
  div(class = 'row')
    div(class = 'col-xs-3')
      br
      br
      br
      p(style='color:red')= 'Esta zona representa una ubicación restringida donde el administrador da de alta a usuarios con permisos'
    div(class = 'col-xs-5')
      br
      br
      div(class= 'panel panel-default' style='background-color:transparent; color:green')
        div(class= 'panel-heading' style='background-color:transparent; color:green') Panel de registro
        div(class= 'panel-body')
          form(action='http://localhost:3000/auth/signup' method='post' autocomplete='off')
            div(class='form-group')
              label(for="usuario" style='background-color:transparent; color:green')= 'Usuario'
              input(type='text' name ='usuario' id='usuario' placeholder='Usuario' class='form-control')
            div(class='form-group')
              label(for="password" style='background-color:transparent; color:green')= 'Password'
              input(type='password' name ='password' id='password' placeholder='Password' class='form-control')
            button(type="submit" class='btn btn-default') Registrar
      if message1.length > 0
        div(class ='alert alert-danger' role='alert')= message1
      if vacio.length > 0
        div(class ='alert alert-danger' role='alert')= vacio
      br
      br
      br  