extends ../templates/default

block content
  div(class = 'row')
    div(class = 'col-xs-3')
      br
      br
      br
      p=' En este primer ejercicio, se pretende acceder al usuario admin mediante una injeccion SQL en el campo destinado al Password.'
      p= 'PISTA: Introducir distintos carácteres de prueba comprobando en cada caso la respuesta del sistema.'
    div(class = 'col-xs-5')  
      br
      br
      div(class= 'panel panel-default' style='background-color:transparent')
        div(class= 'panel-heading' style='background-color:transparent; color:green') Panel de Inicio de Sesion
        div(class= 'panel-body')
          form(action='http://localhost:3000/auth/signin' method='post' autocomplete='off')
            div(class='form-group')
              label(for="usuario" style=' color:green')= 'Usuario'
              input(type='text' name ='username' id='usuario' placeholder='Usuario' class='form-control')
            div(class='form-group')
              label(for="password" style=' color:green')= 'Password'
              input(type='password' name ='password' id='password' placeholder='Password' class='form-control')
            button(type="submit" class='btn btn-default') Iniciar Sesion
      if message.length > 0
        div(class ='alert alert-success' role='alert')= message
      if filtro.length > 0
        div(class ='alert alert-danger' role='alert')= filtro
      else
        if authmessage.length > 0
          div(class ='alert alert-danger' role='alert')= authmessage
        
      br
      br
      br
