extends templates/default1

block content
    h3(style = 'color:white' ) Formulario de autenticación
    a(href="http://localhost:3000/auth/signin")= 'SQL injection 1'
    br
    a(href="http://localhost:3000/auth/signin2")= 'SQL injection 2 y 3'
    br
    a(href="http://localhost:3000/auth/signin3")= 'Fuerza bruta'
    br
    a(href="http://localhost:3000/auth/reDoS")= 'reDoS'
    br
    a(href="http://localhost:3000/auth/signin4")= 'Autenticación insuficiente'
    
    h3(style = 'color:white')= 'Biblioteca de Peliculas'
    a(href="http://localhost:3000/movies/search")= 'NoSQL injection'
    br
    a(href="http://localhost:3000/movies/Origen")= 'Cross-Site Scripting(XSS) 1'
    br
    a(href="http://localhost:3000/comentarios/Origen1")= 'Cross-Site Scripting(XSS) 2'
    br
    a(href="http://localhost:3000/comentarios/Origen2")= 'Cross-Site Scripting(XSS) 3'
    br
    a(href="http://localhost:3000/comentarios/Origen3")= 'Cross-Site Scripting(XSS) 4'
    h3(style = 'color:white')= 'Calculadora'
    a(href="http://localhost:3000/calculadora1")= 'Inyección de código por funcion eval() 1'
    br
    a(href="http://localhost:3000/calculadora2")= 'Inyección de código por funcion eval() 2'