extends ../templates/default3

block content
     div(class= "container")
      div(class="row")
        div(class="col-xs-4")
            br
            br
            br
            p= 'Para este ejercicio, se pide usar una herramienta que realice peticiones Post, como por ejemplo "HttpRequester", para enviar una peticion que contenga un JSON que haga verdadera, para todas las peliculas, la siguiente consulta dirigida a MongoDB: collection.find({ titulo: titulo}) '
            p= 'El objetivo es identificar una pelicula que no se muestra por defecto.'

        div(class="col-xs-6")
          form(action='http://localhost:3000/movies/search' method='post' autocomplete='on')
           div(class="form-group")
             label(for="titulo", style='color:white; background-color:green')
             input( name= 'titulo' id='titulo' placeholder='search' class='form-control')
           button(type="submit")
             span(class="glyphicon glyphicon-search")

          table(class="table table-hover" border="1")
           thead
             tr
              th Titulo
              th Director
              th genero
               each movie in movies
                tr
                 td 
                   a(href="http://localhost:3000/movies/#{movie.titulo}") #{movie.titulo}
                 td #{movie.director}
                 td #{movie.genero} 
          br
          br
          br