extends ../templates/default4
block content
 div(class = 'row')
    div(class = 'col-xs-4') 
     p(style='background-color:black')=' En este ejercicio, se pide:'
     p(style='background-color:black')=' Realizar una inyección que muestre un mensaje de alerta mediante el uso de <script> e identificar si se trata de una inyección reflejada o persistente.'
     p(style='background-color:black')=' Realizar otra inyección cuyo resultado desenlace en una redirección a otra página de su elección'
     p(style='color:white')='Titulo: ' + movie.titulo
     p(style='color:white')='Director ' + movie.director
     p(style='color:white')='Genero ' + movie.genero      
     p(style='color:white')='Sinopsis: ' + movie.sinopsis
     p(style='color:white')='Puntuacion: ' + movie.puntuacion
     h4(style='color:white')='Comentarios'
       each comentario in comentarios
         div(class='panel panel-primary')
          div(class='panel-heading' style='color:green; background-color:black')!='Por: ' + comentario.autor
          div(class='panel-body' style='color:green')!=comentario.contenido
     form(action='http://localhost:3000/movies/#{movie.titulo}' method='post' autocomplete='off')
      div(class='form-group')
              label(for="autor" style='color:white')= 'Autor'
              input(type='text' name ='autor' id='autor' placeholder='Escriba aquí su nombre' class='form-control')
            div(class='form-group')
              label(for="contenido" style='color:white')= 'Contenido'
              input(type='contenido' name ='contenido' id='contenido' placeholder='Escriba aquí el comentario' class='form-control')
            button(type="submit" class='btn btn-default') Publicar
            
          
        