extends ../templates/default4
block content
 div(class = 'row')
    div(class = 'col-xs-5')
     p(style='background-color:black')=' Por ultimo y para acabar con este tipo de ataques, se ha añadido un filtro que sustituye todas las ocurrencias de < por &lt que representa el caracter < sin interpretarlo, de modo que no es posible hacer uso de <script>, sin embargo, es posible introducir alertas por ejemplo cuando hay un error en una imagen. Sabiendo que además de lo anterior, hay un reemplazo para poder publicar imagenes con esta forma:'
     p(style='background-color:black')= 'replace(/\[\[(\D+)\|(.+?)\]\]/g, <img alt="$1" src="$2.jpg">);'
     p(style='background-color:black')= 'Se pide:'
     p(style='background-color:black')= 'Familiarizarse con la expresion anterior e insertar la imagen cuya ruta es /images/icono5.'
     p(style='background-color:black')= 'Introducir una alerta utilizando el evento "onerror" mediante el patron de reemplazo anterior.'
     p(style='color:white')='Titulo: ' + movie.titulo
     p(style='color:white')='Director ' + movie.director
     p(style='color:white')='Genero ' + movie.genero      
     p(style='color:white')='Sinopsis: ' + movie.sinopsis
     p(style='color:white')='Puntuacion: ' + movie.puntuacion
     h4(style='color:white')='Comentarios'
       each comentario in comentarios
         div(class='panel panel-primary')
          div(class='panel-heading' style='color:green; background-color:black')!='Por: ' + comentario.autor
          div(class='panel-body' style='color:green')!=comentario.contenido
     form(action='http://localhost:3000/comentarios/Origen3' method='post' autocomplete='off')
      div(class='form-group')
              label(for="autor" style='color:white')= 'Autor'
              input(type='text' name ='autor' id='autor' placeholder='Escriba aquí su nombre' class='form-control')
            div(class='form-group')
              label(for="contenido" style='color:white')= 'Contenido'
              input(type='contenido' name ='contenido' id='contenido' placeholder='Escriba aquí el comentario' class='form-control')
            button(type="submit" class='btn btn-default') Publicar
